<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Form</title>
</head>
<body>
    <form method="post" action="#">
        <label>
            Color
            <check if="{{isset(@errors['colors'])}}">
                <span>{{@errors['colors']}}</span>
            </check>
            <select name="color">
                <repeat group="{{ @colors }}" value="{{ @colorOption }}">
                    <option> {{ @colorOption }}</option>
                </repeat>
            </select>
        </label>

        <p>Select Toys
            <check if="{{ @errors['toys'] }}">
                <span>  {{ @errors['toys'] }}</span>
            </check><br>
            <repeat group="{{ @validToys }}" value="{{ @toy }}">
                <label>
                    <input type="checkbox" name="toys[]" value="{{ @toy }}"
                    <check if="{{ !empty(@toys) && in_array(@toy, @toys) }}">
                        checked="checked"
                    </check>
                    >
                    {{ @toy }}
                </label><br>
            </repeat>
        </p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>